.header{

}

.header-top{
    height: 37px;
    gap: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #05422C;
}

.header-mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 64px;
    height: 76px;
    border-bottom: 1px solid #F4F4F4;
}

.mid-logo{
    width: 20%;
}

.mid-input{
    width: 60%;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-search{
    width: 70%;
}

.input-search input{
    width: 100%;
    height: 48px;
    padding: 4px 4px 4px 28px;
    border: 1px solid #F4F4F4;
    border-radius: 100px;
    outline: none;
    font-size: 1rem;
    font-weight: 400px;
}

.button-search{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #17AF26;
    color: #fff;
    font-size: 20px;
}

.button-search:hover{
    cursor: pointer;
    position: 0.8;
}

.mid-user{
    width: 15%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.name-user{
    border-right: 1px solid #333;
    padding-right: 1rem;
    font-weight: 400;
}

.name-user:hover{
    cursor: pointer;
    opacity: 0.8;
}

.cart-user{
    font-size: 20px;
}

.cart-user:hover{
    cursor: pointer;
    opacity: 0.8;
}

.header-bot{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 16px 64px;
}

.bot-item:hover{
    cursor: pointer;
    opacity: 0.8;
}

.dropdown-menu{
    gap: 6px;
    display: flex;
    align-items: center;
}

.mask-group{
    position: relative;
}

.mask-content{
    height: 660px;
    background: conic-gradient(from 180deg at 50% 50%, rgba(5, 66, 44, 0) -4.67deg, #05422C 299.08deg, rgba(5, 66, 44, 0) 355.33deg, #05422C 659.08deg);
}

.content-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 120px 0px 100px 64px;
    gap: 1rem;
}

.title1{
    font-size: 16px;
    color: #F2BC1B;
}

.title2{
    font-size: 54px;
    font-weight: 700;
    color: #fff;
}

.title3{
    font-size: 24px;
    color: #F4F4F4;
}

.title4{
    font-size: 24px;
    color: #fff;
    margin-top: 120px;
}

.title5{
    font-size: 18px;
    width: 152px;
    height: 48px;
    border-radius: 50px;
    background: #17AF26;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content-right{
    width: 50%;
    position: absolute;
    right: 0;
    top: 660px;
}

.img1{
    width: 37%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.img2{
    width: 37%;
    position: absolute;
    right: 215.5px;
    bottom: 0px;
    z-index: 0;
}

.img3{
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0px;
}

.img4{
    position: absolute;
    z-index: 99;
    left: 40px;
    bottom: 130px;
}

.img5{
    position: absolute;
    z-index: 99;
    left: 230px;
    bottom: 330px;
}

.img6{
    position: absolute;
    z-index: 99;
    right: 60px;
    bottom: 130px;
}

.mask-cart{
    height: 284px;
    background: #F2F6F4;
    padding: 64px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img-item{
    width: 80px;
    height: 80px;
}

.content-item{

}

.content-item::first-line{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.product-block{
    height: 1000px;
    padding: 84px 0 120px 64px;
    display: flex;
    flex-direction: column;
}

.content-title{
    font-size: 42px;
    font-weight: 700;
    width: 100%;
    line-height: 100%;
}

.title-center{
    text-align: center;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 64px 64px 48px 0px;
}

.nav-item{
    width: 300px;
    height: 48px;
    border: 1px solid #F4F4F4; 
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;  
}

.nav-item:hover, .nav-item:active, .nav-item:visited{
    cursor: pointer;
    border: 1px solid #05422C;
    color: #05422C;
    background: #F2F6F4;
}

.best-seller{
    width: 100%;
    height: 60%;
    display: flex;
    gap: 2rem;
}

.banner-product{
    position: relative;
    width: 25%;
    height: 100%;
    background: #05422C;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    overflow: hidden;
}

.banner-product::before{
    content: "";
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    background: linear-gradient(180deg, rgba(52,102,84, 0) 0%, rgba(52, 102, 84, 0.4) 100%);
    transform: rotate(5deg);
    border-radius: 15px;
    right: -100px;
    top: -100px;
    z-index: -99;
}

.product-image{

}

.product-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 32px 42px;
}

.product-content__title{
    font-size: 20px;
}
.product-content__text{
    font-size: 14px;
    opacity: 0.6;
    margin-top: 1rem;
    line-height: 150%;
    text-align: center;
}

.product-link a{
    color: #17AF26;
}

.list-product{
    overflow: auto;
    height: 100%;
    display: flex;
    gap: 1rem;
}

.product-item{
    width: 22%;
    height: 100%;
    background: #fff;
    border: 1px solid #05422C;
}

.item-img{
    width: 100%;
    background: #F4F4F4;
}