.header{

}

.banner-top{
    height: 37px;
    gap: 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #05422C;
}

.banner-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 64px;
    height: 76px;
    border-bottom: 1px solid #F4F4F4;
}

.banner-logo{
    width: 20%;
}

.banner-input{
    width: 60%;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-search{
    width: 70%;
}

.input-search input{
    width: 100%;
    height: 48px;
    padding: 4px 4px 4px 28px;
    border: 1px solid #F4F4F4;
    border-radius: 100px;
    outline: none;
    font-size: 1rem;
    font-weight: 400px;
}

.button-search{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #17AF26;
    color: #fff;
    font-size: 20px;
}

.button-search:hover{
    cursor: pointer;
    position: 0.8;
}

.banner-user{
    width: 15%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.name-user{
    border-right: 1px solid #333;
    padding-right: 1rem;
    font-weight: 400;
}

.name-user:hover{
    cursor: pointer;
    opacity: 0.8;
}

.cart-user{
    font-size: 20px;
}

.cart-user:hover{
    cursor: pointer;
    opacity: 0.8;
}

.header-top{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 16px 64px;
}

.bot-item:hover{
    cursor: pointer;
    opacity: 0.8;
}

.dropdown-menu{
    gap: 6px;
    display: flex;
    align-items: center;
}

.mask-group{
    position: relative;
}

.mask-content{
    height: 660px;
    background: conic-gradient(from 180deg at 50% 50%, rgba(5, 66, 44, 0) -4.67deg, #05422C 299.08deg, rgba(5, 66, 44, 0) 355.33deg, #05422C 659.08deg);
}

.content-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 120px 0px 100px 64px;
    gap: 1rem;
}

.title1{
    font-size: 16px;
    color: #F2BC1B;
}

.title2{
    font-size: 54px;
    font-weight: 700;
    color: #fff;
}

.title3{
    font-size: 24px;
    color: #F4F4F4;
}

.title4{
    font-size: 24px;
    color: #fff;
    margin-top: 120px;
}

.title5{
    font-size: 18px;
    width: 152px;
    height: 48px;
    border-radius: 50px;
    background: #17AF26;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.content-right{
    width: 50%;
    position: absolute;
    right: 0;
    top: 660px;
}

.img1{
    width: 37%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.img2{
    width: 37%;
    position: absolute;
    right: 215.5px;
    bottom: 0px;
    z-index: 0;
}

.img3{
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0px;
}

.img4{
    position: absolute;
    z-index: 99;
    left: 40px;
    bottom: 130px;
}

.img5{
    position: absolute;
    z-index: 99;
    left: 230px;
    bottom: 330px;
}

.img6{
    position: absolute;
    z-index: 99;
    right: 60px;
    bottom: 130px;
}

.mask-cart{
    height: 284px;
    background: #F2F6F4;
    padding: 64px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img-item{
    width: 80px;
    height: 80px;
}

.content-item::first-line{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.product-block{
    padding: 84px 0 240px 64px;
    display: flex;
    flex-direction: column;
}

.content-title{
    font-size: 42px;
    font-weight: 700;
    width: 100%;
    line-height: 100%;
}

.title-center{
    text-align: center;
}

.header-nav{
    height: 48px;
    padding: 64px 64px 48px 0px;
}

.header-mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav .nav-item{
    height: 48px;
    border: 1px solid #F4F4F4; 
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;  
}

.header-nav .nav1{
    width: 300px;
}

.nav-item:hover, .nav-item:active, .nav-item:visited{
    cursor: pointer;
    border: 1px solid #05422C;
    color: #05422C;
    background: #F2F6F4;
}

.best-seller{
    width: 100%;
    display: flex;
    gap: 2rem;
}

.banner-product{
    position: relative;
    width: 28%;
    background: #05422C;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    overflow: hidden;
}

.banner-product::before{
    content: "";
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    background: linear-gradient(180deg, rgba(52,102,84, 0) 0%, rgba(52, 102, 84, 0.4) 100%);
    transform: rotate(5deg);
    border-radius: 15px;
    right: -100px;
    top: -100px;
    z-index: -99;
}

.product-image{
    width: 160px;
    height: 160px;
}

.product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 32px 42px;
}

.product-content__title{
    font-size: 20px;
}
.product-content__text{
    font-size: 14px;
    opacity: 0.6;
    margin-top: 1rem;
    line-height: 150%;
    text-align: center;
}

.product-link a{
    color: #17AF26;
}

.list-product{
    overflow: auto;
    display: flex;
    gap: 2rem;
}

.product-item{
    width: 30%;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: 1px solid #fff;
}

.item-img{
    width: 100%;
    height: 160px;
    background: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
}

.item-img img{
    width: 110px;
    height: 110px;
}

.item-img .out-of-stock{
    position: absolute;
    border-radius: 100px;
    padding: 16px 32px;
    background: rgba(5, 66, 44, 0.3);
    color: #fff;
    backdrop-filter: blur(4px);
}

.item-img .ounce{
    position: absolute;
    top: 0;
    left: 0;
    background: #F2BC1B;
    padding: 8px 12px;
    border-radius: 4px 0px;
}

.item-type{
    padding: 16px;
    opacity: 0.6;
    font-size: 14px;
}

.item-name{
    padding: 8px 16px;
    text-align: center;
    font-weight: bold;
}

.item-star{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    gap: 4px;
    padding: 8px;
}

.item-star .fa-star{
    color: #F2BC1B;
}

.item-discount{
    padding: 8px;
    border-radius: 5px;
    background: #CECFD5;
    color: #05422C;
}

.item-price{
    display: flex;
    gap: 8px;
    padding: 16px;
    font-weight: bold;
}

.item-price .text-bland{
    opacity: 0.6;
    font-weight: none;
}

.item-price .text-strikethrough{
    text-decoration: line-through 2px;
}

.list-mass{
    display: flex;
    gap: 1rem;
}

.item-mass{
    border: 1px solid #F4F4F4;
    padding: 4px 8px;
    border-radius: 5px;
}

.item-button{
    margin: 32px 0 0 0;
    background: #17AF26;
    border-radius: 15px;
    padding: 12px 16px;
    color: #fff;
}

.product-item:hover{
    border: 1px solid #17AF26;
}

.content-title{
    padding-top: 128px;
}

.person-complent{
    display: flex;
    padding-top: 46px;
    gap: 2rem;
}

.block-complent{
    width: 23%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: #333;
    border: 1px solid #f4f4f4;
    padding: 24px;
}

.complent-content{
    background: #05422C;
    padding: 32px 24px;
    color: #fff;
    border: none;
}

.complent-title{
    font-size: 24px;
    font-weight: 600;
}

.complent-content .underline{
    border: 1px solid #346654;
    margin: 24px 0;
}

.complent-name{
    font-weight: 600;
    opacity: 0.5;
    font-size: 24px;
}

.complent-text{
    text-transform: uppercase;
    padding: 32px 0 16px 0;
    font-size: 14px;
}

.complent-evaluate{
    display: flex;
    font-size: 14px;
}

.complent-evaluate .icon-star{
    border-right: 2px solid #648A7C;
    padding-right: 16px;
}

.icon-star .fa-star{
    font-size: 14px;
    color: #F2BC1B;
}

.complent-evaluate .text-evaluate{
    display: flex;
    gap: 0.5rem;
    padding-left: 16px;
}

.block-content .account-user{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.account-user .avatar-person{
    width: 28px;
    height: 28px;
}

.avatar-person img{
    width: 100%;
}

.account-user .name-person{
    font-weight: 600;
}

.block-content .underline{
    margin: 24px 0;
}

.underline{
    border: 1px solid #C8C9CB;
}

.testimony-star .fa-star{
    color: #F2BC1B;
}

.testimony .testimony-content{
    font-weight: bold;
    font-size: 14px;
    padding-top: 16px;
    min-height: 200px;
}

.block-complent .time-line{
    opacity: 0.7;
}

.header-nav .nav-title{
    font-size: 18px;
    color: #000;
    font-weight: 600;
}

.header-bot{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
}

.header-nav .nav2{
    padding: 8px 24px;
}

.product-list{
    padding: 48px 64px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}

.product-list .product-item{
    width: 20%;
}

.advertisement{
    padding: 240px 54px 42px 54px;
    background: #01100B;
    color: #fff;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.advertisement-title h1{
    margin: 0 auto;
    width: 65%;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

.advertisement-content p{
    width: 60%;
    color: #9D9EA2;
    text-align: center;
    margin: 0 auto;
}

.advertisement-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 2rem;
}

.cart-item1{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 32px 0 0 0;
    gap: 1.5rem;
}

.cart-item1 .item1-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: relative;
    gap: 1.5rem;
}

.item1-top .top-number{
    position: absolute;
    background: #F2BC1B;
    padding: 8px 12px;
    top: 0;
    left: -50px;
    border-radius: 100%;
}

.item1-top .top-icon{
    width: 112px;
    height: 112px;
}

.item1-top .top-name{
    font-size: 18px;
    font-weight: 600;
}

.cart-item1 .item1-bot{
    color: #9D9EA2;
    text-align: center;
    line-height: 150%;
}

.advertisement-button{
    background: #17AF26;
    padding: 16px 32px;
    border-radius: 100px;
    margin-top: 32px;
}

.main-mark1{
    width: 80%;
    height: 250px;
    position: absolute;
    background: url(/image/Mask\ group.png);
    border-radius: 32px;
    top: -125px;
    left: 10%;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    color: #fff;
}

.main-mark1 .mark1-text{
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.mark1-text .text-title{
    font-size: 48px;
    font-weight: 600;
}

.mark1-text .text-content{
    font-size: 24px;
    display: flex;
    gap: 2rem;
}

.text-content .text-content__price{
    color: #F2BC1B;
    font-weight: 600;
}

.main-mark1 .mark1-button{
    background: #17AF26;
    padding: 18px 32px;
    border-radius: 100px;
}

.infomation{
    padding: 84px 64px;
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.infomation-title{
    font-size: 48px;
    width: 60%;
    font-weight: 600;
    color: #1A1E26;
}

.infomation-content{
    width: 55%;
    color: #717378;
}

.infomation-list-card{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}   

.infomation-list-card .card-item{
    margin-top: 32px;
    padding: 32px;
    width: 30%;
    border: 1px solid rgba(206, 207, 213, 0.4);
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.infomation-list-card .card-item:hover{
    cursor: pointer;
}

.card-item .card-item-icon{
    width: 48px;
    height: 48px;
}

.card-item .card-item-text{
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.card-item-text .text-title{
    font-size: 18px;
    font-weight: 600;
    color: #1A1E26;
    letter-spacing: -0.5px;
}

.card-item-text .text-content{
    color: #717378;
}

.infomation-product .header-nav{
    padding-right: 0;
}

.infomation-product .header-nav .nav-link{
    margin-left: auto;
    color: #17AF26;
}

.header-nav .nav-item{
    font-size: 14px;
}

.infomation-product .product-list{
    padding-right: 0;
    padding-bottom: 84px;
}

.infomation-about{
    display: flex;
    position: relative;
    justify-content: space-between;    
}


.infomation-about .about-item{
    width: 30%;
    border: 1px solid #F4F4F4;
    border-radius: 12px;
    padding: 24px;   
    display: flex;
    flex-flow: column;
    gap: 1.5rem; 
}

.about-item .item-image{
    background: #F2F6F4;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-item .item-name{
    font-size: 24px;
    margin-right: 0;
    text-align: start;
    padding: 0;
}

.about-item .item-content{
    font-size: 14px;
    color: #717378;
    min-height: 200px;
    line-height: 150%;
}

.about-item .item-link{
    color: #17AF26;
}

.education{
    padding: 64px 64px 184px;
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
    background: #f4f4f4;
}

.education .education-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education-header .header-title{
    font-size: 26px;
    font-weight: 600;
}

.education-header .header-link{
    color: #17AF26;
}

.education .education-card{
    display: flex;
    justify-content: space-between;
}

.education-card .card-item{
    width: 30%;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.card-item .item-image{
    
}

.card-item .item-datetime{
    font-size: 14px;
    color: #717378;
}

.card-item .item-title{
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

.card-item .item-content{
    color: #717378;
    line-height: 150%;
}

.card-item .item-link{
    padding-top: 0.5rem;
    color: #17AF26;
}

.footer{
    display: flex;
    flex-flow: column;
    background: linear-gradient(180deg, #1A1E26 0%, #01100B 100%);
    color: #9D9EA2;
    padding: 240px 120px 64px;
    position: relative;
}

.footer .footer-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}

.footer-top .top-left{
    width: 30%;
    display: flex;
    gap: 1.5rem;
    flex-flow: column;
}

.top-left .left-logo{
    width: 60%;
}

.top-left .left-content{
    line-height: 150%;
    padding-right: 84px;
}

.footer-top .top-right{
    width: 60%;
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.top-right .right-top{
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

.right-top .top-title{
    color: #fff;
    font-size: 18px;
}

.right-top .top-link{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 1rem;
}

.top-link .link-item{
    width: 45%;
    padding-bottom: 1rem;
    font-size: 14px;
}

.top-right .right-mid{
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.right-mid .mid-title{
    color: #fff;
    font-size: 18px;
}


.top-right .right-bot{
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

.right-bot .bot-title{
    color: #fff;
    font-size: 18px;
}

.right-bot .bot-content-list{
    display: flex;
    flex-flow: wrap;
    gap: 2rem;
}

.bot-content-list .list-item{
    width: 45%;
}

.top-right .right-row{
    display: flex;
    gap: 1rem;
}

.footer .footer-bottom{
    border-top: 1px solid #46494F;
    padding: 48px 0 0;
    display: flex;
    justify-content: space-between;
}

.footer-bottom .bottom-right{
    display: flex;
    gap: 1rem;
}

.footer-cta{
    position: absolute;
    width: 80%;
    height: 320px;
    padding: 32px 48px;
    display: flex;
    flex-flow: column;
    color: #fff;
    top: -160px;
    left: 10%;
    background: #05422C;
    border-radius: 24px;
    gap: 1.5rem;
}

.footer-cta .cta-text{
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.cta-text .text-title{
    font-size: 48px;
    width: 70%;
    font-weight: 600;
}

.cta-text .text-content{
    color: #C3D2CC;
    font-size: 20px;
}

.footer-cta .underline{
    border: 1px solid #346654;
}

.footer-cta .cta-form{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.cta-form .form-input{
    width: 80%;
    background: transparent;
    border-radius: 100px;
    border: 1px solid #346654;
    padding-left: 32px;
    color: #648A7C;
    outline: none;
}

.cta-form .form-button{
    width: 17%;
    background: #17AF26;
    border: none;
    border-radius: 100px;
    color: #fff;
}